---
layout: default
---

<div id="goodcultanimation2_hype_container"
  style="margin:auto;position:relative;width:1280px;height:900px;overflow:hidden;">
  <script type="text/javascript" charset="utf-8"
    src="/assets/hero.hyperesources/goodcultanimation2_hype_generated_script.js?60723"></script>
</div>
<h2>{{ page.title }}</h2>

  {% include page-intro.html %}

  {{ content }}

  <section>

    <h3>Recent posts from the blog</h3>

    <ul>
      {% for post in site.posts limit:3 %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>

  </section>
